
 <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
  

</script>
<style>
  #usern{
    width: 300px;
height: 50px;
  }
  #userp{
width: 300px;
height: 50px;
  }
  #sub{
width: 300px;
height: 50px;
  }
  body{
    
  }
  form{
    border:solid 1px black;
    
  }
</style>
</head>
<body class="btn-primary">
  <center>
    <form style="position:fixed;left:35%;top:50%;" autocomplete="off" action="http://127.0.0.1:5000/login" method="get" accept-charset="utf-8">
 <input required="true" autocomplete="off" placeholder="UserName" onchange="localStorage.setItem('lastname',this.value);" type="text" name="usern" id="usern"/><br>
  <input required="true" autocomplete="off" placeholder="Password" type="text" name="userp" id="userp" value="" /><br>
<input type="submit" name="" id="sub" value="login" />
    </form>

</center>

</body>