appdirs==1.4.4
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
corona-python==1.0.1
distlib==0.3.1
et-xmlfile==1.0.1
filelock==3.0.12
Flask==1.1.2
Flask-Cors==3.0.10
geckodriver-autoinstaller==0.1.0
gunicorn==20.1.0
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
openpyxl==3.0.7
PyArabic==0.6.10
pytube==10.7.1
requests==2.25.1
selenium==3.141.0
six==1.15.0
soupsieve==2.2.1
urllib3==1.26.4
virtualenv==20.4.3
Werkzeug==1.0.1
youtube-search==2.1.0
youtube-unlimited-search==0.3.2
